<div class="row">
    <div class="col-md-12">
        <table class="table" style="margin-top: 1.2rem; font-size: 15px;">
            <thead class="table-active">
                    <tr>
                        <th>#Pelea</th>
                        <th>Galpon #1 </th>
                        <th>Placa</th>
                        <th>Peso</th>
                        <th>VS</th>
                        <th>Galpon #2</th>
                        <th>Placa</th>
                        <th>Peso</th>
                        <th>Ver</th>
                    </tr>
                </thead>
            <tbody>
                <% Fight.where(season_id: @season.id).order(:number).each do |fight| %>
                        <% if fight.roosters[0] != nil and fight.roosters[1] != nil %>
                            <tr>
                                <td><%= fight.number %></td>
                                <td>
                                    <strong><%= fight.roosters[0].barn.name %></strong>
                                    - <%= fight.roosters[0].race  %> 
                                </td>
                                <td> <%= fight.roosters[0].plate  %></td>
                                <td> <%= fight.roosters[0].weight  %></td>
                                <td><strong> VS </strong> </td>
                                <td>
                                    <strong><%= fight.roosters[1].barn.name %></strong>
                                    - <%= fight.roosters[1].race  %>
                                </td>
                                <td> <%= fight.roosters[1].plate  %></td>
                                <td> <%= fight.roosters[1].weight  %></td>
                                <td> <%= link_to "Ver Pelea", fight_path(fight), :class => "btn btn-secondary", target: :_blank%></td>
                            </tr>
                        <%end%>
                    <% end %>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <%= link_to "#", :class => "btn btn-outline-danger",:data => { :toggle => "modal", :target => "#notSelectedModal"} do %>
                <span> <i class="fa fa-trash-alt"></i> Gallos No Seleccionados </span>
            <% end %>
            <%= link_to "Sortear Peleas", new_fight_path(@season), :class => "btn btn-primary float-right" %>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="notSelectedModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" style="color:#333;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar Galpon</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                    <thead class="table-active">
                                        <tr>
                                            <th scope="col">Galpon</th>
                                            <th scope="col">Color</th>
                                            <th scope="col">Peso </th>
                                            <th scope="col">Placa </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @notSelected.each do |rooster| %>
                                            <tr>
                                                <td> <%= rooster.barn.name %></td>
                                                <td> <%= rooster.race %></td>
                                                <td> <%= rooster.weight %></td>
                                                <td> <%= rooster.plate %></td>
                                            </tr>
                                        <%end%>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>