<%= form_for @season do |f| %>
  <div class="form-group row">
    <%= f.label :name, "Nombre:", :class => "col-sm-4 col-form-label" %>
    <div class="col-sm-12">
      <%= f.text_field :name, :class => "form-control" %>
      <%= f.hidden_field :tournament_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label"> Temporada </label>
    <div class="col-sm-12">
      
      <input type="text" class="form-control" value="<%=@season.tournament.name %>" disabled/>
    </div>  
  </div>
  
  <div class="form-actions row">
    <div class="col-sm-12">
      <div class="float-right">
        <%= link_to "Cancelar", seasons_path, :class => "btn btn-light" %>
        <%= f.submit "Guardar", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>