<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <%= link_to "Registrar Galpon", new_barn_path(@season.tournament), :class => "btn btn-primary float-right" %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table" style="margin-top: 1.2rem; font-size: 15px;">
            <thead class="table-active">
                <tr>
                    <th>Galpon</th>
                    <th>Lugar</th>
                    <% for i in 1..@season.tournament.quantity do %>
                        <th class="throoster">Gallo #<%= i%>(peso)</th>
                    <% end %>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <% @barns.each do |barn| %>
                <tr>
                    <td><%= barn.name %></td>
                    <td><%= barn.place %></td>
                    <% @count = 0 %>
                    <% barn.roosters.each do |rooster|%>
                        <% if rooster.season_id == @season.id %>
                            <% @count += 1 %>
                            <td class="tdrooster">
                                (<%= rooster.plate %>)-
                                <%= rooster.race %>(<%= rooster.weight %>)
                            </td>
                        <%end%>
                    <%end%>
                    <% for i in @count..@season.tournament.quantity - 1 do%>
                        <td>-</td>
                    <%end%>
                    
                    <td><%= link_to barn_path(barn), :class => "btn btn-secondary" do %>
                        <span> <i class="fa fa-edit"></i> Editar </span>
                        <%end%>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>