<div class="row">
    <div class="col-md-12">
        <table class="table" style="margin-top: 1.2rem; font-size: 15px;">
            <thead class="table-active">
                <tr>
                    <th scope="col">#Pelea</th>
                        <th scope="col">Galpon - Gallo </th>
                        <th scope="col">VS</th>
                        <th scope="col">Galpon - Gallo </th>
                        <th scope="col">Ganador </th>
                        <th scope="col">Tiempo </th>
                        <th scope="col">Placa </th>
                        <th scope="col">Peso </th>
                        <th scope="col">Pollon </th>
                        <th scope="col">Resultados </th>
                </tr>
            </thead>
            <tbody>
                <% @season.fights.each do |fight| %>
                    <% if fight.roosters[0] != nil and fight.roosters[1] != nil %>
                            <tr>
                                <td><%= fight.number %></td>
                                <td> 
                                    <strong>
                                        <%= fight.roosters[0].barn.name  %> 
                                    </strong> - 
                                        <%= fight.roosters[0].race  %> (<%= fight.roosters[0].weight  %> )
                                </td>
                                <td>VS</td>
                                <td>
                                    <strong><%= fight.roosters[1].barn.name  %></strong> 
                                    - <%= fight.roosters[1].race  %> (<%= fight.roosters[0].weight  %> ) 
                                </td>
                                <% if fight.winner == 0 %>
                                    <td>Empate</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                <% elsif fight.winner != nil  %> 
                                    <% fight.roosters.each do |rooster| %> 
                                        <% if rooster.id == fight.winner %>
                                           <td><%= rooster.barn.name %> - 
                                            <%= rooster.race %></td>
                                            <td> <%= fight.time %> </td>
                                            <td> <%= rooster.plate %></td>
                                            <td> <%= rooster.weight %></td>
                                        <% end %>
                                    <% end %>
                                       
                                <% else %>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                <%end%>
                                <td>
                                    <% if fight.pollon == nil %> 
                                        -
                                    <%end%>
                                    <% if fight.pollon %>
                                        SI
                                    <%end%>
                                    <% if fight.pollon == false %> 
                                        NO
                                    <%end%>
                                </td>
                                <td> <%= link_to edit_fight_path(fight), :class => "btn btn-outline-info" do %>
                                        <span>
                                            <i class="fa fa-pencil-alt"></i> Ingresar Resultados
                                        </span>
                                    <% end %> </td>
                            </tr>
                        <%end%>  
                <% end %>
            </tbody>
        </table>
    </div>
</div>