<%= link_to "#", :class => "btn btn-secondary",
              :data => { :toggle => "modal", :target => "#addRooster#{barn.id}"} do %>
    <span>
        <i class="fa fa-add"></i> Agregar Gallo
    </span>
<% end %>
<div class="modal fade" id="addRooster<%=barn.id%>" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Gallos para <%= barn.name %> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <%= form_for(@rooster) do |f| %>
                <div class="modal-body">
                        <%= f.hidden_field :barn_id, :value => barn.id %> 
                        <div class="form-group row">
                            <%= f.label :season_id, "Fecha", :class => "col-sm-4 col-form-label" %>
                            <%= f.hidden_field :season_id, :value =>  @season.id %>
                        </div>
                        <div class="form-group row">
                            <%= f.label :race, "Color", :class => "col-sm-4 col-form-label" %>
                            <div class="col-sm-12">
                                <%= f.text_field :race, :class => "form-control" %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <%= f.label :weight, "Peso", :class => "col-form-label" %>
                                <%= f.text_field :weight, :class => "form-control" %>
                            </div>
                            <div class="col-md-6">
                                <%= f.label :plate, "Placa", :class => "col-form-label" %>
                                <%= f.text_field :plate, :class => "form-control" %>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">
                        Cancelar
                    </button>
                    <%= f.submit "Guardar", :class => "btn btn-primary" %>
                </div>
            <%end%>
        </div>
    </div>
</div>