<div class="container marketing card">
    <div class="row">
        <div class="col-md-6">
            <h4>FECHAS </h4>
        </div>
        <div class="col-md-6">
            <%= link_to "Nueva Temporada", new_season_path, :class => "btn btn-white float-right" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" style="margin-top:1.2rem;text-align:center;">
                <thead>
                    <tr>
                        <th scope="col">Temporada</th>
                        <th scope="col">Ver Galpones</th>
                        <th scope="col">Ver Peleas </th>
                        <th scope="col">Ver Tabla</th>
                    </tr>
                </thead>
                <tbody>
                    <% @seasons.each do |season| %>
                        <tr>
                            <td><%= season.name %></td>
                            <td>
                                <%= link_to "Ver Galpones", season_path(season), :class => "btn btn-outline-info" %>
                            </td>
                            <td>Ver Peleas</td>
                            <td>Ver Tabla</td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>