<div class="container marketing">
    <div class="marketing card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h3> <%= @season.tournament.name %> - <%= @season.name %></h3>
                </div>
                <div class="col-2 float-right">
                    <button class="btn btn-label float-right btn-menu-seasons" data-name="barns"> Galpones </button>
                </div>
                <div class="col-2 float-right">
                    <button class="btn btn-label float-right btn-menu-seasons" data-name="fights"> Peleas </button>
                </div>
                <div class="col-2 float-right">
                    <button class="btn btn-label float-right btn-menu-seasons" data-name="results"> Resultados </button>
                </div>
            </div>
        </div>
    </div>
        <br/>
    <div class="card">
        <div class="card-body">
            <div class="menu-seasons" id="barns">
                <%= render "gallos"%>
            </div>
            <div class="menu-seasons hidden" id="fights">
                <%= render "fights"%>
            </div>
            <div class="menu-seasons hidden" id="results">
                 <%= render "results"%>
            </div>
        </div>
    </div>
</div>