<%= form_for @tournament do |f| %>
  <div class="form-group row">
    <%= f.label :name, "Nombre:", :class => "col-sm-4 col-form-label" %>
    <div class="col-sm-12">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :quantity, "Numero de Frentes:", :class => "col-sm-4 col-form-label" %>
    <div class="col-sm-12">
      <%= f.text_field :quantity, :class => "form-control" %>
    </div>
  </div>
  <div class="form-actions row">
    <div class="col-sm-12">
      <div class="float-right">
        <%= link_to "Cancelar", tournaments_path, :class => "btn btn-secondary" %>
        <%= f.submit "Guardar", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>