<div class="row">
    <div class="col">
        <h3>Tabla de Posiciones </h3>
    </div>
    <div class="col">
        <%= link_to "Registrar Nueva Fecha", new_season_path(@tournament), :class => "btn btn-primary float-right" %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped" style="margin-top: 1.2rem;">
            <thead>
                <tr>
                    <th> #
                    <th >Galpon </th>
                    <th ># De Gallos</th>
                    <th >Pollon</th>
                    <th >Ganadas</th>
                    <th >Empate</th>
                    <th >Perdidas</th>
                    <th >Puntos</th>
                    <th >Tiempo</th>
                </tr>
            </thead>
            <tbody>
                <% @barnsScore.each_with_index do |barn, index|%>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= barn.name %></td>
                        <td><%= barn.played %></td>
                        <td><%= barn.pollon %></td>
                        <td><%= barn.won %></td>
                        <td><%= barn.tie %></td>
                        <td><%= barn.lost %></td>
                        <td><%= barn.score %></td>
                        <td><%= (barn.totalTime/60).to_s %>:<% if (barn.totalTime%60)<10 %>0<%end%><%= (barn.totalTime%60).to_s%> </td>
                    </tr>
                <% end %>
                <tr>
                </tr>
            </tbody>
        </table>
    </div>
</div>