<div class="row">
    <div class="col">
        <h4> Mantenimiento Galpones </h4>
    </div>
    <div class="col">
        <%= link_to "Registrar Galpon", new_barn_path(@tournament), :class => "btn btn-primary float-right" %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered" style="margin-top: 1.2rem;">
            <thead>
                <tr>
                    <th>Galpon</th>
                    <th>Lugar</th>
                    <%# <th>Ver </th> %>
                    <%# <th>Agregar</th> %>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <% @barns.each do |barn| %>
                <tr>
                    <td><%= barn.name %></td>
                    <td><%= barn.place %></td>
                    <td>
                        <%= link_to "#", :class => "btn btn-secondary",
                                      :data => { :toggle => "modal", :target => "#seeRooster#{barn.id}"} do %>
                        <span>
                            <i class="fa fa-search"></i>
                        </span>
                        <% end %>
                        <div class="modal fade" id="seeRooster<%=barn.id%>" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Gallos de <%= barn.name %> </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <% @tournament.seasons.each do |season|%>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h6 style="font-weight: bold;"> <strong> <%=season.name%> </strong> </h6>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped" style="font-size : 14px;">
                                                        <thead>
                                                            <tr>
                                                                <th>Id</th>
                                                                <th>Placa</th>
                                                                <th>Color</th>
                                                                <th>Peso </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% barn.roosters.each do |rooster| %>
                                                                <% if rooster.season_id == season.id%>
                                                                    <tr>
                                                                        <td><%= rooster.id %></td>
                                                                        <td><%= rooster.plate %></td>
                                                                        <td><%= rooster.race %></td>
                                                                        <td><%= rooster.weight %> </td>
                                                                    </tr>
                                                                <%end%>
                                                            <%end%>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            
                                        <%end%>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%# </td>
                    <td> %>
                        <%= link_to "#", :class => "btn btn-secondary",
                                      :data => { :toggle => "modal", :target => "#addRooster#{barn.id}"} do %>
                        <span>
                            <i class="fa fa-plus"></i> 
                        </span>
                        <% end %>
                        <div class="modal fade" id="addRooster<%=barn.id%>" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Agregar Gallos para <%= barn.name %> </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <%= form_for(@rooster) do |f| %>
                                        <div class="modal-body" style="text-align: left;"> 
                                                <%= f.hidden_field :barn_id, :value => barn.id %> 
                                                <div class="form-group row">
                                                    <%= f.label :season_id, "Fecha", :class => "col-sm-4 col-form-label" %>
                                                    <div class="col-sm-12">
                                                        <%= f.select :season_id, options_from_collection_for_select(@seasons, :id, :name, :season_id), {} , :class => "form-control" %>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <%= f.label :race, "Color", :class => "col-sm-4 col-form-label" %>
                                                    <div class="col-sm-12">
                                                        <%= f.text_field :race, :class => "form-control" %>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-6">
                                                        <%= f.label :weight, "Peso", :class => "col-form-label" %>
                                                        <%= f.text_field :weight, :class => "form-control" %>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <%= f.label :plate, "Placa", :class => "col-form-label" %>
                                                        <%= f.text_field :plate, :class => "form-control" %>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light" data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <%= f.submit "Guardar", :class => "btn btn-primary" %>
                                        </div>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    <%# </td>
                    <td> %>
                        <%= link_to barn_path(barn), :class => "btn btn-secondary" do %>
                        <span> <i class="fa fa-edit"></i>  </span>
                        <%end%>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>