<div class="row">
    <div class="col">
        <h3> Fechas </h3>
    </div>
    <div class="col">
        <%= link_to "Registrar Nueva Fecha", new_season_path(@tournament), :class => "btn btn-primary float-right" %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered" style="margin-top: 1.2rem;">
            <thead>
                <tr>
                    <th >Descripcion </th>
                    <%# <th >Detalle</th> %>
                    <th >Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <% @tournament.seasons.each do |season| %>
                    <tr>
                        <td><%= season.name %></td>
                        <td>
                            <%= link_to season_path(season), :class => "btn btn-secondary" do %>
                                <span> <i class="fa fa-search"></i>  </span>
                            <%end%>
                        <%# </td>
                        <td> %>
                            <%= link_to "#", :class => "btn btn-outline-danger",:data => { :toggle => "modal", :target => "#deleteModal#{season.id}"} do %>
                                <span> <i class="fa fa-trash-alt"></i>  </span>
                            <% end %>
                            <div class="modal fade" id="deleteModal<%=season.id%>" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" style="color:#333;">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Eliminar Fecha</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Al eliminar la <%= season.name %> eliminara todos los gallos y peleas registradas en esta.
                                        ¿Está seguro que desea eliminar la <strong><%= season.name %>?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                                        <%= link_to "Eliminar", season_path(season) ,  method: :delete, class: "btn btn-danger" %>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                <% end %>
            </tbody>
        </table>
    </div>
</div>