<div class="container marketing card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h4>TORNEOS </h4>
            </div>
            <div class="col-md-6">
                <%= link_to "Nueva Temporada", new_tournament_path, :class => "btn btn-primary float-right" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered" style="margin-top:1.2rem;text-align:center;">
                    <thead>
                        <tr>
                            <th scope="col">Temporada</th>
                            <th scope="col"> # de Frentes</th>
                            <th scope="col"> Detalle </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @tournaments.each do |tournament| %>
                            <tr>
                                <td><%= tournament.name %></td>
                                <td><%= tournament.quantity %></td>
                                <td>
                                    <%= link_to "Detalle", tournament_path(tournament), :class => "btn btn-primary btn-outlined" %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>