<div class="container marketing">
    <div class="row">
        <div class="col-md-12">
            <h4>Registrar Nueva Temporada </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <%= render "form" %>
        </div>
    </div>
</div>