<div class="container">
    <div class="marketing card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h3> <%= @tournament.name %> </h3>
                </div>
                <div class="col-2 float-right">
                    <button class="btn btn-label float-right btn-menu-tournaments" data-name="barns"> Galpones </button>
                </div>
                <div class="col-2 float-right">
                    <button class="btn btn-label float-right btn-menu-tournaments" data-name="seasons"> Fechas </button>
                </div>
                <div class="col-2 float-right">
                    <button class="btn btn-label float-right btn-menu-tournaments" data-name="scores"> Posiciones </button>
                </div>
            </div>
        </div>
    </div>
        <br/>
    <div class="card">
        <div class="card-body">
            <div class="menu-tournaments" id="barns">
                <%= render "tab1"%>
            </div>
            <div class="menu-tournaments hidden" id="seasons">
                <%= render "tab2"%>
            </div>
            <div class="menu-tournaments hidden" id="scores">
                <%= render "score" %>
            </div>
            
            <!-- <div class="row">
                <ul class="nav nav-tabs tabs">
                    <li class="nav-item active">
                        <a class="nav-link" href="#tab1">Galpones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#tab2">Fechas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab3">Tablas </a>
                    </li>
                </ul>
                <div class="tab_container">
                    <div class="tab_content" id="tab1">
                        <%= render "tab1"%>
                    </div>
                    <div class="tab_content" id="tab2">
                        <%= render "tab2"%>
                    </div>
                    <div class="tab_content" id="tab3" style="color:black">
                        <%= render "score"%>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    
    
    
</div>