<main role="main">
      <div class="container-fluid" id="main-content">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "home/gallos3.jpg", :class => "second-slide", :alt => "Second slide" %>
            <div class="container">
              <!-- <div class="carousel-caption text-left">
                <h1>Aceite de Coco</h1>
                <p><span>Descubra uno de los grandes secretos de la amazonía peruana, Aceite de coco Bioselva.</span></p>
                <p><%= link_to "Comprar", "", class:"btn btn-lg btn-green btn-outlined " %></p>
              </div> -->
            </div>
          </div>
          
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="container">
        <div class="row">
          <% if notice %>
            <div class="alert alert-success alert-dismissable" style="margin-top: 20px; width: 100%">
              <%= notice %>
            </div>
          <% end %>
          <% if alert %>
            <div class="alert alert-danger alert-dismissable" style="margin-top: 20px; width: 100%">
              <%= alert %>
            </div>
          <% end %>
        </div>
      </div>
</main>