<%= form_for(@barn) do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.hidden_field :tournament_id %>
      <%= f.label :name, "Nombre:", :class => "col-form-label" %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
     <div class="col-md-6">
      <%= f.label :place, "De donde son:", :class => "col-sm-4 col-form-label" %>
      <%= f.text_field :place, :class => "form-control" %>
    </div>
  </div>
  <% if @barn.roosters[0].season_id != nil %>
    <div class="form-group row">
      <%= f.label :name, "Ver Gallos de Fecha:", :class => "col-sm-4 col-form-label" %>
      <div class="col-sm-12">
        <select id="filter-roosters" class="form-control">
          <option value="0">Seleccione</option>
          <% @barn.tournament.seasons.each_with_index do |season, index| %>
              <option value="<%= season.id %>"><%= season.name %> </option>
          <%end%>
        </select>
      </div>
    </div>
  <%end%>
  
  <div class="row"> 
    <%= f.fields_for :roosters do |rf| %>
        <div class="col-md-6 rooster <%= @barn.roosters[rf.index].season_id %> <%= 'hidden' if @barn.roosters[rf.index].season_id != nil %> ">
          <%= rf.hidden_field :fight_id %>
          <div class="row" style="padding-top:1.2rem;">
            <h4 class="col-md-6"> Gallo #<%= rf.index + 1 %></h4>
          </div>
          <div class="form-group row">
            <%= rf.label :season_id, "Fecha", :class => "col-sm-4 col-form-label" %>
            <div class="col-sm-12">
              <%= rf.select :season_id, options_from_collection_for_select(@seasons , :id, :name, @barn.roosters[rf.index].season_id), {} , :class => "form-control" %>
            </div>
          </div>
          <div class="form-group row">
            <%= rf.label :race, "Color", :class => "col-sm-4 col-form-label" %>
            <div class="col-sm-12">
              <%= rf.text_field :race, :class => "form-control" %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <%= rf.label :weight, "Peso", :class => "col-form-label" %>
              <div class="input-group mb-3">
                <select class="custom-select libras" data-index="<%=rf.index%>" id="libras<%=rf.index%>">
                  <option value="" selected>Libras</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <select class="custom-select onzas"  data-index="<%=rf.index%>" id="onzas<%=rf.index%>">
                  <option value="" selected>Onzas</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                </select>
              </div>
              <%= rf.hidden_field :weight, :class => "form-control", :id => "weight#{rf.index}" %>
            </div>
            <div class="col-md-6">
              <%= rf.label :plate, "Placa", :class => "col-form-label" %>
              <%= rf.text_field :plate, :class => "form-control" %>
            </div>
          </div>
          
        </div>
	<% end %>
  </div>
  
  <div class="row" id="form-friend">
    <%= f.fields_for :friends do |form_friend| %>
        <input type="hidden" class="friendsSize" value="<%=form_friend.index + 1%>" />
        <div class="col-md-4 form_friend">
          <div class="row" style="padding-top:1.2rem;">
            <h4 class="col-md-12"> Amigo #<%= form_friend.index + 1 %></h4>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <%= form_friend.select :friend,content_tag(:option,'select one...',:value=>"")+ options_from_collection_for_select(@barn.tournament.barns, :id, :name, @barn.friends[form_friend.index].friend), {}, :class => "form-control"%>
            </div>
          </div>
        </div>
	<% end %>
  </div>
  
  <div class="form-actions row">
    <div class="col-sm-12">
      <div class="float-right">
        <%= link_to "Cancelar", tournament_path(@barn.tournament), :class => "btn btn-light" %>
        <%= f.submit "Guardar", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>