<div class="container marketing">
    <div class="row">
        <div class="col-md-6">
            <form action="/admin/recipes" method="GET" id="filter-form">
                <div class="form-group row">
                <h4 class="col-md-5">Temporadas:</h4>
                <div class="col-md-7">
                    <select name="order" id="filter-recipe" class="form-control">
                    <option value="" selected>Seleccione...</option>
                    <% @seasons.each do |season| %>
                        <option value="<%= season.id %>"><%= season.name %> </option>
                    <%end%>
                    </select>
                </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <%= link_to "Nueva Temporada", new_barn_path, :class => "btn btn-white float-right" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" style="margin-top: 1.2rem;">
                <thead>
                    <tr>
                        <th scope="col">Galpon</th>
                        <th scope="col">Lugar</th>
                        <th scope="col">Registrar Galpon</th>
                    </tr>
                </thead>
                <tbody>
                    <% @barns.each do |barn| %>
                        <tr>
                            <td><%= barn.name %></td>
                            <td><%= barn.place %></td>
                            <td>
                                <%= link_to "Registrar Gallo", "/", :class => "btn btn-outline-info" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>