<%= form_for(@fight) do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :name, "Gallo #1:", :class => "col-form-label" %>
      <input type="text" class="form-control" value="<%= @fight.roosters[0].barn.name%> - <%= @fight.roosters[0].race %>" disabled/>
    </div>
    <div class="col-md-6">
      <%= f.label :name, "Gallo #2:", :class => "col-form-label" %>
      <input type="text" class="form-control" value="<%= @fight.roosters[1].barn.name %> - <%=@fight.roosters[1].race %>" disabled/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <%= f.label :winner, "Ganador:", :class => "col-form-label" %>
      <%= f.select :winner,[['Seleccione...', nil],["#{@fight.roosters[0].barn.name}", @fight.roosters[0].id], 
        ["#{@fight.roosters[1].barn.name}", @fight.roosters[0].id], ["Empate", 
        0 ]], {}, :class => "form-control"%>
    </div>
    <div class="col-md-4">
      <%= f.label :time, "Tiempo:", :class => "col-form-label" %>
      <%= f.text_field :time, :class => "form-control" %>  
    </div>
    <div class="col-md-4">
      <%= f.label :pollon, "Pollon:", :class => "col-form-label" %>
      <%=  f.select :pollon, [['Seleccione...', nil],['SI', true], ['NO', false]], {} , :class => "form-control" %>
    </div>
  </div>
  
  
  
  <div class="form-actions row">
    <div class="col-sm-12">
      <div class="float-right">
        <%= link_to "Cancelar", seasons_path, :class => "btn btn-light" %>
        <%= f.submit "Guardar", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>