<div class="container marketing">
    <div class="row">
        <div class="col-md-12">
            <h4>Datos de la Pelea  #<%= @fight.number %> </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%= render "form" %>
        </div>
    </div>
</div>