<div class="container marketing">

    <div class="row">
        
        <div class="col-md-12">
            <%= link_to "#", :class => "btn btn-white float-right",:data => { :toggle => "modal", :target => "#deleteModal"} do %>
            <span> Sortear de Nuevo </span>
            <% end %>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" style="color:#333;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Sortear Peleas</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Está seguro que desea volver a sortear las peleas?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                            <%= link_to "Sortear", new_fight_path(@season), class: "btn btn-primary" %>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" style="margin-top: 1.2rem;">
                <thead>
                    <tr>
                        <th scope="col">#Pelea</th>
                        <th scope="col">Galpon - Gallo </th>
                        <th scope="col">VS</th>
                        <th scope="col">Galpon - Gallo </th>
                        <th scope="col">Ganador </th>
                        <th scope="col">Tiempo </th>
                        <th scope="col">Placa </th>
                        <th scope="col">Peso </th>
                        <th scope="col">Pollon </th>
                        <th scope="col">Resultados </th>
                    </tr>
                </thead>
                <tbody>
                    <% @fights.each do |fight| %>
                        <% if fight.roosters[0] != nil and fight.roosters[1] != nil %>
                            <tr>
                                <td><%= fight.number %></td>
                                <td> 
                                    <strong>
                                        <%= fight.roosters[0].barn.name  %> 
                                    </strong> - 
                                        <%= fight.roosters[0].race  %> (<%= fight.roosters[0].weight  %> )
                                </td>
                                <td>VS</td>
                                <td>
                                    <strong><%= fight.roosters[1].barn.name  %></strong> 
                                    - <%= fight.roosters[1].race  %> (<%= fight.roosters[0].weight  %> ) 
                                </td>
                                <td>
                                    <% if fight.winner != nil  %> 
                                        <%= fight.roosters[("#{fight.winner}").to_i].name %>
                                    <% else %>
                                        -
                                    <%end%>
                                </td>
                                <td>
                                    <% if fight.time != ''  %> 
                                        <%= fight.time %> </td>
                                    <%else%>
                                        -
                                    <%end%>
                                
                                <td>
                                    <% if fight.winner != nil  %> 
                                        <%= fight.roosters[("#{fight.winner}").to_i].plate %>
                                    <% else %>
                                        -
                                    <%end%>
                                </td>
                                <td>
                                    <% if fight.winner != nil  %> 
                                        <%= fight.roosters[("#{fight.winner}").to_i].weight %>
                                    <% else %>
                                        -
                                    <%end%>
                                </td>
                                <td>
                                    <% if fight.pollon == nil %> 
                                        -
                                    <%end%>
                                    <% if fight.pollon %>
                                        SI
                                    <%end%>
                                    <% if fight.pollon == false %> 
                                        NO
                                    <%end%>
                                </td>
                                <td> <%= link_to edit_fight_path(fight), :class => "btn btn-outline-info" do %>
                                        <span>
                                            <i class="fa fa-pencil-alt"></i> Ingresar Resultados
                                        </span>
                                    <% end %> </td>
                            </tr>
                        <%end%>  
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>