<div class="replay fullScream">
    <div class="row">
        <%date = Time.new %>
        <div class="replay-container">
            <div class="title">
                <p class="center">
                    PELEA #<%= @fight.number %> || COLISEO TRADICIONALE DE GALLOS VENTANILLA ||
                    <%=date = date.day.to_s + "/" + date.month.to_s + "/" + date.year.to_s%>
                </p>
                
            </div>
            <div class="display-content">
                <div class="rooster name blue">
                        <p class="center"> <%= @fight.roosters[0].barn.name %> -   <%= @fight.roosters[0].barn.place %>
                        </p>
                </div>
                <div class="separator black">
                    <p class="center"> VS </p>
                </div>
                <div class="rooster name red ">
                    <p class="center"> <%= @fight.roosters[1].barn.name %>  - <%= @fight.roosters[1].barn.place %>
                </div>
            </div>
            <div class="display-content dark-red">
                <div class="rooster">
                    <div class="rooster-detail">
                        <div class="color"> Color : <%=@fight.roosters[0].race %> </div>/
                        <div class="weight">Peso : <%=@fight.roosters[0].weight %> </div>/
                        <div class="plate"> Placa : <%=@fight.roosters[0].plate %> </div>
                    </div>
                </div>
                <div class="separator yellow">
                    <p class="center">EN VIVO</p>
                </div>
                <div class="rooster">
                    <div class="rooster-detail">
                        <div class="color"> Color: <%=@fight.roosters[0].race %> </div>/
                        <div class="weight">Peso: <%=@fight.roosters[0].weight %> </div>/
                        <div class="plate"> Placa: <%=@fight.roosters[0].plate %> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12" >
        <button class="btn btn-secundary" id="btnFullSC"> Full Scream </button>
    </div>
    
</div>
