$font-family:Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

$background-navbar-color: #191b2a;
$menu-item-color: #9c9fb3;

$default-color: #3d4465;


$box-border-color: #333;

$text-blue-primary: #5867dd;
$text-primary: #3d4465;

$background-secondary: #1fa67a;
$background-secondary-border: #1b926c;
// $text-color-secondary: #b0ddce;

