/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "variables";

body {
  background: #f8f9fc;
  color: $default-color;
  font-family: $font-family;
  font-weight: 300;
  font-size: 1em;
  padding-top: 3rem;
}

.page-content {
  padding: 50px 15px 10px 255px;
  background: white;
  @include transition(all .2s ease-in-out);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  // margin-bottom: 1.2rem;
}

  .navbar {
    background: $background-navbar-color;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
  color: white;
  text-decoration: none;
}
.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  // height: 32rem;
}



/* MARKETING CONTENT
-------------------------------------------------- */

.marketing {
  margin-top: 3rem;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

#main-content {
  padding: 0px;
}

header {
  nav.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);

    .navbar-brand {
      font-weight: bold;
      color: $text-blue-primary;
      text-transform: uppercase;
    }

    .nav-item {
      .nav-link {
        color: $menu-item-color;
        font-weight: 500;
      }
    }
  }
}


.btn {
  font-size: 1em;
  
  &.btn-primary {
    color: #fff;
    background-color: #5867dd;
    border-color: #5867dd;

    &.btn-outlined {
      background: white;
      border: 1px solid;
      color: #5867dd;
    }
  }
  
  &.btn-label {
    background-color: rgba(56,90,235,0.1);
    color: #385aeb;
    cursor: text !important;
  }

  // &.btn-white {
  //   color: #333;
  //   background: white;

  //   &.btn-outlined {
  //     background: white;
  //     border: 1px solid;
  //     color: #333;
  //   }
  // }
  &.btn-secondary {
      background-color: transparent;
      border: 1px solid #e2e5ec;
      color: #414b4c;
  }

  // &.btn-secondary {
  //   background: $background-secondary;
  //   border: 1px solid $background-secondary-border;
  //   background-color: $background-secondary;
  //   border-color: $background-secondary-border;

  //   &.btn-outlined {
  //     background: white;
  //     border: 1px solid #ea258e;
  //     color: #ea258e;
  //   }
  // }
}

.home-quality {
  margin: 100px 0px;

  h2 {
    margin-bottom: 50px;
  }
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.form-signin, .form-signup {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: 50px auto;
  text-align: center;

  .actions {
    margin-top: 25px;
  }

  a {
    color: $text-blue-primary;
  }

  .links {
    margin-top: 15px;
  }
}

.form-signup {
  width: 100%;
  max-width: 450px;

  .field {
    margin-bottom: 15px;
  }

  em {
    float: left;
    margin-bottom: 15px;
  }
}


.carousel-caption {
  font-weight: 600;
  h1 {
    font-size: 3em;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
  }
  
  p {
    font-weight: 400;
    font-size: 1.5em;

    span {
      background: rgba(0,0,0,0.5);
      padding: 2px 4px;
      border-radius: 2px;
    }
  }
}

.tabs {
  width: 100%;
  background: none;

  .active {
    a{
    border-color: #e9ecef #e9ecef #dee2e6;
    border: 1px solid;
    }
    
  }
  .nav-item {
    a {
      color: $menu-item-color; 
    }
  }
  

}
.tab_container {
	// border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #eee;
}
.tab_content {
	padding: 20px;
  font-size: 1.2em;
  color: black;
}

.hidden {
  display: none; }

table {
  text-align: center;
}
.center {
  text-align: center;
}

.sub-header {
  padding: 20px 30px;
}

.replay{
  background-image: url(fondo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 500px;
  font-weight: bold;
  text-transform: uppercase;
  p {
    margin-bottom: 0px;
  }
  .replay-container {
    width: 100%;
    margin: 15% 5% 0 5%;
  }
  
  .title {
    margin-top: 2rem;
    background-color: rgb(134, 55, 55);
    font-size: 28px;
    // padding: 10px 0px 8px 0px;
    // border-bottom: 3px solid white;
    // border-left: 20px solid transparent;
    // border-right: 20px solid transparent;
    color: white;
    // border-botton: 50px solid rgb(134, 55, 55);
    // border-left: 25px solid transparent;
    // border-right: 25px solid transparent;
    // height: 0;
  }

  .display-content {
    display: flex;
    align-self: center;
    color : white;
    .rooster{
      width: 43%;
      
      &.blue {
        // background: #385aeb;
        background: blue;
        border-radius: 51px 0px 0px 51px;
        -moz-border-radius: 51px 0px 0px 51px;
        -webkit-border-radius: 51px 0px 0px 51px;
        border: 0px solid #000000;
      }
      &.red {
        background: red;
        border-radius: 0px 51px 51px 0px;
        -moz-border-radius: 0px 51px 51px 0px;
        -webkit-border-radius: 0px 51px 51px 0px;
        border: 0px solid #000000;
      }
      &.name {
        font-size: 30px;
        padding: 10px 0px 8px 0px;
      }
      .rooster-detail {
        display: flex;
        font-size: 16px;
        justify-content: space-around;
        // border-top: 2px solid white;
        // border-left: 20px solid transparent;
        // border-right: 20px solid transparent;
        padding: 4px 0 0 0;
        // color: rgb(206, 211, 203);
      }
    }
    .separator{
      width: 14%;
      font-size: 40px;
      &.black {
        background: black;
      }
      &.yellow {
        color: rgb(241, 207, 14);
        font-size: 20px;
      }
    }
    &.dark-red {
      background-color: rgb(134, 55, 55)!important;
    }
  }


  .rosters {

    .rooster{
      width: 43%;
      padding: 10px 0px 8px 0px;
      
      .name {
        font-size: 30px;
      }

      .rooster-detail {
        display: flex;
        font-size: 16px;
        justify-content: space-around;
        border-top: 2px solid white;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        padding: 4px 0 0 0;
        color: rgb(206, 211, 203);;
      }
      
    }
    .vs{
      width: 14%;
      // background-color: black;
      // padding: 10px 0px 1px 0px;
      font-size: 40px;
      // color: rgb(226, 226, 4);
      // color: rgb(241, 207, 14);
    }
    .blue {
        background-color: blue;
        
    }
    .red {
        background-color: red;
        // color: black;
    }
  }
  

}

.fullScream {
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    margin: 0;
}