<div class="container marketing">
    <!-- <div class="row">
        <div class="col-md-6">
            <form action="/seasons/" method="GET" id="filter-form">
                <div class="form-group row">
                <h4 class="col-md-5">Temporadas:</h4>
                <div class="col-md-7">
                    <select id="filter-season" class="form-control">
                    <option value="" selected>Seleccione...</option>
                    <% @tournaments.each do |season| %>
                        <option value="<%= season.id %>"><%= season.name %> </option>
                    <%end%>
                    </select>
                </div>
                </div>
            </form>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-6">
            <h3> <%= @tournament.name %> </h3>
        </div>
        <div class="col-md-6">
            <%= link_to "Registrar Nueva Fecha", new_season_path(@tournament), :class => "btn btn-secondary float-right" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" style="margin-top: 1.2rem;">
                <thead>
                    <tr>
                        <th scope="col">Fecha # </th>
                        <th scope="col">Fecha</th>
                        <th scope="col"># Galpones</th>
                        <th scope="col">Galpones</th>
                        <th scope="col">Peleas</th>
                    </tr>
                </thead>
                <tbody>
                    <% @tournament.seasons.each do |season| %>
                        <tr>
                            <td><%= season.name %></td>
                            <td>ver mas</td>
                            
                            <td>
                                <%= link_to "Ver Galpones", season_path(season), :class => "btn btn-outline-info" %>
                            </td>
                            <td><%= link_to "Ver Peleas", fights_path(season), :class => "btn btn-outline-info" %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>