<header>
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#" style="padding: 0">
        COLISEO TRADICIONAL DE GALLOS
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <% if @tournamentsBar != nil %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to @tournamentsBar.name, tournament_path(@tournamentsBar), class:"nav-link" %>
            </li>
          </ul>
        <%end%>
        
        <div class="navbar-left">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to "TORNEOS", tournaments_path, class:"nav-link" %>
            </li>
          
            <li class="nav-item active">
              <%= link_to "TABLAS", seasons_path, class:"nav-link" %>
            </li>
            <!-- <% if user_signed_in? %>
              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn btn-green dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= user.email %>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete, :class => "dropdown-item" %>
                  </div>
                </div>
              </li>
            <% else %>
              <li class="nav-item"><%= link_to "Iniciar sesión", new_user_session_path, :class => "nav-link" %></li>
              <li class="nav-item"><%= link_to "Registrarse", new_user_registration_path, :class => "nav-link" %></li>
            <% end %> -->
          </ul>
        </div>
      </div>
    </div>  
  </nav>
</header>