<!DOCTYPE html>
<html>
  <head>
    <title>Coliseum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <% if notice %>
            <div class="alert alert-success alert-dismissable" style="margin-top: 20px; width: 100%">
              <%= notice %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <%= yield %>
  </body>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'bootstrap.min' %>
</html>
